body {
  margin: 2rem;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projects > li {
  border-radius: 1rem;
  border: 1px solid #777;
  margin: 0;
  padding: 1rem;
}

.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tags li {
  color: #555;
  display: inline-block;
  padding-right: 1ex;
}

.tags li:before {
  content: '#';
}
